@model IQueryable<ComApp.Domain.Entities.ServiceItem>

@if(Model?.Any() == true)
{
    <section>
        <h2>Услуги</h2>
        <ul class="small-image-list">
            @foreach(ComApp.Domain.Entities.ServiceItem entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleImagePath" class="left" alt="" />
                    </a>
                    <h4>
                        @entity.Title
                    </h4>
                    <h4>
                        @entity.Subtitle
                    </h4>
                </li>
            }
        </ul>
    </section>
}