<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>@ComApp.Service.Config.CompanyName</title>
}
@if (ViewBag.Title != null)
{
    <meta name="description" content="@ViewBag.Description" />
}
@if (ViewBag.Title != null)
{
    <meta name="keywords" content="@ViewBag.Description" />
}
